root = true

[*.{java, kt, kts, xml}]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{java, kt, kts}]
max_line_length = 165
disabled_rules = no-wildcard-imports