<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parse.gcm">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <service
            android:name=".ParseGCMJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

    </application>
</manifest>
